body {
    margin: 0 !important;
}

.top {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    font-size: 96px;
    margin: 0;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom:80px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
}

h5 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}

#yellow {
    background-color: #FDC700;
    width: 470px;
    height: 277px;
}

.pink {
    background: #FA442A;
    width: 470px;    
}


.pinktop {
    margin-bottom: 60px;
    padding-left: 63px;
    padding-top: 43px;
}

.pinkbox {
    display: flex;
    flex-direction: column;
}

.headersmall {
    display: flex;
    justify-content: space-between;
    Padding: 5px 6px 3px 0px;
}

#yelbox {
    margin-left: 63px;
    padding-bottom: 76px;
    padding-top: 10px;
}

img {
    display: block;
}

.pinkbottom {
    padding-left: 63px;    
}

.boxwhite {
    width: 346px;
    border-top: 1px white solid;
    Padding: 0px 6px 0px 6px;
    margin-bottom: 30px;
}

#boxtitle1 {
    padding-left: 63px;
    padding-top: 53px;
}

main {
    margin-left: 136px;    
}

.boxtop {
    display: flex;
    justify-content: space-between;
    Padding: 10px 0px 10px 0px;    
}

.boxborder {
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    margin-bottom: 45px;
    Padding: 0px 10px 0px 10px;
}

.boxborder > div {
    gap: 8px;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    align-items: flex-start;
    margin-bottom: 40px;
}

#texttop {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom:0;
    width: 652px;
}

#black {
    height: 59px;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    background: black;
    text-align:center;
    align-content: center;
    width: 712px;
}

.belowheader {
    width: 712px;
}

.boxrightbottom {
    margin-top: 40px; 
    width: 712px;
}

.list {
    margin: 0;  
}

ul {
    margin-bottom:0;
    margin-top: 5px;
    padding-inline-start: 25px;
   }

.pink {
    height: 1301px
}

#lasttextpink {
    padding-top: 10px;
}