#boxtitle1 {
    padding-left: 63px;
    padding-top: 53px;
}

#yelbox {
    margin-left: 63px;
    padding-bottom: 76px;
    padding-top: 10px;
}

.pink {
    height: 1301px
}

#pinktop {
    margin-bottom: 60px;
    padding-left: 63px;
    padding-top: 43px;
}

.headersmall {
    display: flex;
    justify-content: space-between;
    Padding: 5px 6px 3px 0px;
}

.boxwhite {
    width: 346px;
    border-top: 1px white solid;
    Padding: 0px 6px 0px 6px;
    margin-bottom: 30px;
}

#pinkbottom {
    padding-left: 63px;    
}

#yellow {
    background-color: #FDC700;
    width: 470px;
}

.pink {
    background: #FA442A;
    width: 470px;    
}

.pinkbox {
    display: flex;
    flex-direction: column;
}

.headeraside {
    border-right-style: solid;
    border-right-style: white;
}


#lasttext {
    padding-top: 10px;
}
